# Ignore everything
*

# But not these files...
!.gitignore
!action.yml
!Dockerfile
!__init__.py
!entrypoint.sh

!Gemfile
!version.txt
!package.json
!Scripts/*.sh
!deploy.gemspec
!requirements.txt

# Nor these directories...
!js/*
!css/*
!icon/*
!fonts/*
!images/*
!.github/*
!.google/*

# ...even if in subdirectories
!*/

# to be ignored in subdirectories
docs/
default/
Dekstop/
AppData/
node_modules/
